---
layout: default
title: Meetings
---
<h1>Meetings</h1>
<p>The Iowa Ruby Brigade meets 6:00-7:30 PM on the <b>third Tuesday</b> of each month.</p>
<p>Lately, these have been over lunch.  If it continues to be successfull, we'll stick with it.</p>

<h3>Meeting Locations</h3>
Lately, we have been alternating between two locations:

{% include merchants2_location.html %}
<br/>
and
<br/>
{% include shift_location.html %}

<h3>Meeting details:</h3>

<div id="meetings">{% assign years = site.meetings | reverse | group_by:"year" %}{% for year in years %}{% if year.name != "" %}

  <h4><a href="/meetings/{{ year.items[0].year }}">{{ year.name }} Meetings</a></h4>{% for meeting in year.items %}{% if meeting.month != null %}
  <p><a href="/meetings/{{ meeting.year }}/{{ meeting.month }}">{{ meeting.title }}</a></p>{% endif %}{% endfor %}{% endif %}{% endfor %}
</div>
