body {
  background: #FFF;
  font-family: "Trebuchet MS", Verdana, sans-serif
}

#container {
  margin: 0 auto;
  width: 750px
}

#header {
  width: 100%
}

#header img {
  float: left;
  padding-right: 10px;
}

#sub_header {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: #999;
  padding: 20px;
}

#main_content {
  margin: 0 auto;
  width: 100%;
  background: #FFFFFF url('images/background_content.gif');
  background-repeat: repeat-y
}

#main_content .menu li {
  list-style-type: none;
}

#main_content_top {
  height: 30px;
  background: #FFFFFF url('images/background_top.gif');
}

#main_content_bottom {
  height: 30px;
  background: #FFFFFF url('images/background_bottom.gif');
}

#footer {
  text-align: center;
  font-size: 12px;
  margin: 10px auto
}

#map {
  margin: 10px auto;
}

.content {
  float: left;
  width: 510px;
  text-align: justify;
  padding: 0 30px 0 30px;
  font-size: 12px;
}

.info {
  color: #b0af99;
  font-size: 80%;
  margin-top: 1.5em;
}

.menu {
  width: 139px;
  float: right;
  padding: 0 20px 0 20px;
  border-left: #8C8484 1px solid;
  font-size: 14px
}

.menu ul {
  margin: 0;
  padding: 10px 0 10px 15px
}

.menu li {
  list-style-type: disc
}

#site-title {
  text-align: center;
}

#header h1 {
  display: inline;
  margin-bottom: 0px;
  font-size: 66px;
  font-weight: bold;
  color: #666;
}

.content h2 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: bold;
  color: #A40008
}

.content h3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
}
 
.content h4 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
}

#clear {
  display: block;
  clear: both;
  width: 100%;
  height:1px;
  overflow:hidden;
}

.menu_title {
  font-size: 18px;
  font-weight: bold;
  color: #A40008
}

.menu ul {
  margin: 0;
  padding: 10px 0 20px 15px
}

.menu li {
  padding-top: 2px;
  list-style-type: circle
}

a {
  color: #A40008;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #A40008;
  font-weight: bold;
  text-decoration: underline;
}

a.menu_link {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

a.menu_link:hover {
  color: #A40008;
  font-weight: bold;
  text-decoration: none;
}

b {
  color: #A40008;
}

.quote {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.ruby {
  font-size: 110%;
  color: #A40008;
}

#notes {
  border-top: 2px solid #A40008;
  margin-top: 1em;
}

#meetings table {
  margin: 0 auto;
}

#meetings th {
  padding: 1em 1em 0 1em;
  text-align: left;
}

#meetings td {
  padding: 0 1em 0 1em;
  text-align: left;
  vertical-align: top;
}

