<p style="font-weight:bold"><a href="http://www.alliancetechnologies.net/" rel="external">Alliance Technologies</a><br/>
400 Locust Street, Suite 840<br/>
Des Moines, Iowa</p>
<p>Directions</p>
<ol>
<li>Park at the ramp at 4th and Grand, or drive around and find a spot on
the street. (ramp parking costs $, street parking is free after 6).</li>
<li>Come into the capital square building and take the escalator to the 2nd floor.  (If you come in via the skywalk, you will already be on the second floor.)</li>
<li>Walk around to where the elevators are, sign in, and take an elevator to the 8th floor.</li>
<li>Walk towards the near wall, turn left and cross the little bridge.  (The big bridge is the wrong way).</li>
<li>Take the first left after you exit the small bridge.  Do not turn left until after you have crossed the bridge.</li>
</ol>
<p>We are in a conference room on the left, after you pass several rooms and cubes.  Generally, you can just follow the noise.</p>
<p>If you get lost, call Josh More at:  515-245-7701</p>
<p><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=400+Locust+Street,+Des+Moines,+IA&amp;sll=41.594713,-93.620596&amp;sspn=0.017716,0.038753&amp;ie=UTF8&amp;z=16&amp;iwloc=addr&amp;om=1" rel="external">Map</a> (Alliance Technologies)</p>
