<p><a href="https://www.goodsmiths.com/" rel="external">Goodsmiths</a><br/>
218 1/2 5th Street<br/>
West Des Moines, Iowa, 50265</p>
<p>This is in the heart of Valley Junction. The front door is usually locked during our meeting times, so park behind (west of) the building and enter there. The back door is at the top of the steps and has the address printed on it.</p>
<p>Wi-fi Internet access is available.</p>
<p><a href="/about/">Click here for a map.</a></p>
<p>Btw, according to Levi, the only venue dictated rule is: Don't set your ass, beer, or pizza on the pool table.</p>
