<head>
  <meta charset="utf-8" />
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <!--[if lt IE 7]>
  <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
