<head>
  <meta charset="utf-8" />
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="The Iowa Ruby Brigade is a user group for Ruby and Rails enthusiasts." />
  <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
