<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13079235-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>

    <div id="container">

      {% include header.html %}

      <hr class="hidden" />


      <div id="main_content_top"></div>

      <div id="main_content">

        <div class="content">
          {{ content }}
        </div>

        <div class="menu">
          <h3><span class="ruby">I</span>owa <span class="ruby">R</span>uby <span class="ruby">B</span>rigade</h3>
          <p>The Iowa Ruby Brigade is a user group for <a href="http://www.ruby-lang.org" rel="external">Ruby</a> and <a href="http://www.rubyonrails.org" rel="external">Rails</a> enthusiasts.</p>
          <p><a href="/about/">About...</a></p>
          <p><a href="/meetings/">Meetings...</a></p>
          <p><a href="/links/">Links...</a></p>
          <p><a href="/jobs/">Jobs...</a></p>

          <hr/>

          <h3>Subscribe</h3>
          <p><a href="/join/">Google Groups</a></p>

          <hr/>

          <h3>Follow us on Twitter</h3>
          <p><a href="https://twitter.com/iowaruby" class="twitter-follow-button" data-show-count="false" data-button="grey" data-text-color="a40008" data-link-color="a40008">Follow @iowaruby</a></p>
          <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

        </div>

        <div id="clear"></div>

        <hr class="hidden" />

        {% include footer.html %}

        <div id="main_content_bottom">
        </div>

      </div>
    </div>
  </body>

</html>
